apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: notes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ivangenov/notes-frontend:v1
          ports:
            - containerPort: 80
          volumeMounts:
            - name: envjs
              mountPath: /usr/share/nginx/html/env.js
              subPath: env.js
      volumes:
        - name: envjs
          configMap:
            name: frontend-env
